$bigDesktop: 1920px;
$desktop: 1440px;
$main: 1280px;
$md: 1024px;
$sm: 768px;
$xs: 575px;

@mixin svg ($color) {
  svg {
    .fill {
      fill: $color;
    }
    .stroke {
      stroke: $color;
    }
  }
}

@mixin bigDesktop {
  @media (min-width: $desktop + 1px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin main {
  @media (max-width: $main) {
    @content;
  }
}

@mixin md {
  @media (max-width: $md) {
    @content;
  }
}

@mixin sm {
  @media (max-width: $sm) {
    @content;
  }
}

@mixin xs {
  @media (max-width: $xs) {
    @content;
  }
}

@mixin font-face ($font-family, $src, $font-weight: normal, $font-style: normal) {
  @font-face {
    font-family: $font-family;
    src: url('#{'/assets/fonts/'+$src}.ttf') format('ttf');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}
