$font-family-default: 'Open Sans', sans-serif;

$font-size-default: 15px;

$line-height-default: 20px;

$font-weight-extra-light: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 900;
